html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;  
  text-align: center;
  color: $dark;
  background-color: $silver-100;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  margin-bottom: 120px;
}

.title {
  font-size: 37px;
  line-height: 1.3;
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;
}

.button {
  color: $white;
  background-color: $orange-900;
  outline-color: $orange-900;
  border-radius: 6px;
  border: 2px solid transparent;
  transition: background 0.7s, color 0.5s;

  &:focus {
    background-color: rgba(255, 122, 80, 0.1);
    border: 2px solid $focus;
    color: $orange-900;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid $focus;
    color: $orange-900;
  }

  &:active {
    background-color: rgba(255, 122, 80, 0.1);
    color: $orange-900;
    border: none;
  }
}

.card {
  background-color: $white;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid transparent;
  transition: border 0.3s;

  &:hover {
    border: 2px solid $focus;
    outline-color: $focus;
    border-radius: 5px;
  }

  &__box {
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-gap: 30px;
    margin-bottom: 45px;
  }

  &__img {
    margin: 0 auto;
  }

  &__name{
    font-size: 15px;
    line-height: 18px;
    padding: 10px 0 28px;
  }

  &__price {
    font-size: 15px;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  &__basket {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.3;
    padding: 7px 16px;
  }
}

.sticker {
  background-color: $white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: box-shadow 0.3s;
  
  &:hover {
    box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
    border-radius: 10px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
    text-align: left;
  }

  &__image {
    margin-bottom: 15px;
  }

  &__name {
    display: block;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.3;
    padding-left: 20px;
  }

  &__time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__icon {
    display: block;
    margin: 0 10px 0 20px;
  }

  &__hours {
    margin-right: auto;
    font-size: 18px;
  line-height: 30px;
  }

  &__link {
    padding: 5px 27px 4px 28px;
    border-radius: 20px;
    margin-right: 20px;
  }

  &__arrow {
    fill: $white;
      &:hover {
      fill: $orange-900;
    }
  }
}


