$dark: #31352b;
$darkBlue-900: #363853;
$orange-900: #ff6838;
$white: #fff;
$silver-100: #f9faff;
$silver-200: #ececec;
$gray: #c2c2c2;
$focus: #ff6738b3;

%bg-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

%dynamic {
  transition: text-shadow 0.3s, color 0.3s, background-color 0.3s;

  &:hover {
    color: $orange-900;
    text-decoration: none;
  }

  &:focus {
    background-color: rgba(255, 255, 255, 0.01);
    border: 2px solid $focus;
    border-radius: 5px;
  }

  &:active {
    color: $dark;
    text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    border: 2px solid transparent;
  }
}
