@import 'fonts';
@import 'reset';
@import 'vars';
@import 'libs';
@import 'global';

.header {
  padding-top: 60px;
  margin-bottom: 60px;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
  }

  &__item {

    &:not(:last-child) {
      padding: 0 15px 0 50px;
    }

    &:not(:first-child) {
      margin-right: 13px;
    }
  }

  &__btn {
    position: relative;
    padding: 10px;
    outline-color: $focus;
    transition:  background-color 0.3s, fill 0.3s;

    &:focus {
      background-color: rgba(255, 122, 80, 0.1);
      border: 2px solid $focus;
      border-radius: 5px;
    }

    &:active {
      background-color: #FFF2ED;
      fill: $darkBlue-900;
    }

    &:active:hover {
      background-color: #FFF2ED;
    }

    &:active:focus {
      box-shadow: 0px 0px 0px 0px #FFF2ED;
      fill: $darkBlue-900;
    }

    &:hover {
      background-color: $orange-900;
      border-radius: 5px;
      fill: $white;
    }

    &__svg {
      display: block;
    }
  }

  &__num {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 14px;
    color: $white;
    background-color: $orange-900;
    text-align: center;
    top: 6px;
    right: 2px;

    &:hover {
      color: $orange-900;
      background-color: $white;
    }
  }
}

.menu {

  &__list {
    display: flex;
    margin-left: auto;
  }

  &__item {
    &:not(:last-child) {
    margin-right: 45px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 21px;
    color: $dark;
    outline-color: $focus;
    transition: text-shadow 0.3s, color 0.3s, background-color 0.3s;
    &:hover {
      color: $orange-900;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.01);
      border: 2px solid $focus;
      border-radius: 5px;
    }
    
    &:focus:hover {
      color: $dark;
    }
    &:active {
      color: $dark;
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
      border: 2px solid transparent;
    }
  }

  &__link--active {
    color: $orange-900;
  }
}

.logo {
  transition: opacity 0.3s;
  outline-color: $focus;

  &:focus {
    border: 2px solid $focus;
    border-radius: 5px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    border-color: transparent;
    opacity: 0.5;
  }

}

.btn {
  position: relative;
  padding: 10px;
  transition: color 0.3s, background-color 0.3s;

  &__num {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 14px;
    color: $white;
    background-color: $orange-900;
    text-align: center;
    top: 6px;
    right: 2px;

    &:hover {
      color: $orange-900;
      background-color: $white;
    }

    &:focus {
      outline-color: $focus;
    }
  }

  &:focus {
    background-color: rgba(255, 122, 80, 0.1);
    outline-color: $focus;
    border-radius: 5px;
  }

  &:active {
    background-color: #FFF2ED;
  }

  &:active:hover {
    background-color: #FFF2ED;
  }

  &:active:focus {
    box-shadow: 0px 0px 0px 0px #FFF2ED;
  }

  &:hover {
    background-color: $orange-900;
    border-radius: 5px;
  }

  &__svg {
    display: block;
  }
}

.hero{
  margin-top: -5px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  &__desc {
    max-width: 450px;
    text-align: left;
    margin-top: -10px;
  }

  &__title {
    font-size: 66px;
    line-height: 1.3;
    letter-spacing: 2px;
    color: $darkBlue-900;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__subject {
    display: block;
    color: $orange-900;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 26px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
    margin-right: 34px;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1.3;
    padding: 12px 32px;
  }

  &__details {
    font-size: 20px;
    line-height: 1.5;
    color: $darkBlue-900;
    outline-color: $focus;
    transition: color 0.3s;

    &:focus {
      background-color: rgba(255, 255, 255, 0.01);
      border: 2px solid $focus;
      border-radius: 5px;
    }

    &:hover {
      color: $orange-900;
    }

    &:active {
      color: $darkBlue-900;
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
      border-color: transparent;
    }
  }
}

.popular {

  &__product {
    display: flex;
    margin-bottom: 45px;
  }

  &__item {

    &:not(:last-child) {
    margin-right: 18px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 10px 32px 13px 32px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #ECECEC;
    color: $darkBlue-900;
    font-size: 20px;
    line-height: 1.3;
    outline-color: $focus;
    border: 2px solid transparent;
    transition: color 0.3s, background-color 0.3s ;

    &:active {
      background-color: $white;
      box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
      fill: $darkBlue-900;
    }
    
    &:active:hover {
      background-color: $white;
      border-color: transparent;
      fill: inherit;
      color: $darkBlue-900;
    }

    &:hover {
      background-color: rgba(255, 122, 80, 0.1);
      border: 2px solid $focus;
      border-radius: 5px;
      color: $orange-900;
      fill:$orange-900;
    }

    &:focus {
      border: 2px solid $focus;
    }
  }

  &__svg {
    display: block;
    margin-right: 10px;
  }

  &__show-more {
    display: block;
    text-align: center;
    width: max-content;
    margin: 0 auto;
    max-width: 100%;
    font-size: 20px;
    line-height: 1.5;
    color: $darkBlue-900;
    text-decoration: underline;
    transition: color 0.3s;
    outline-color: $focus;
    
    &:focus {
      background-color: rgba(255, 255, 255, 0.01);
      border-radius: 5px;
      border: 2px solid $focus;
    }

    &:hover {
      color: $orange-900;
      text-decoration: none;
    }

    &:active {
      color: $darkBlue-900;
      text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
    }
  }
}

.popular__link.mixitup-control-active {
  background-color: $orange-900;
  color: $white;
  fill: $white;
}

.delivery {

  &__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__list {
    display: block;
    margin-bottom: 42px;
  }

  &__desc {
    text-align: left;
    width: 39%;
    margin-top: -35px;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5; 
    margin-bottom: 30px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }

  &__subtext {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 150%;
  }
  
  &__icon {
    margin-right: 30px;
  }

  &__link {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    padding: 12px 32px;
    border: 2px solid transparent;
  }
}

.title.title__delivery {
  text-align: left;
  margin-bottom: 30px;
}

.title.title__restaurant {
  margin-bottom: 45px;
}


.reviews {

  &__item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 48px;
  }

  &__card {
    position: relative;
    width: 48%;
    margin-right: 55px;
  }

  &__icon {
    position: absolute;
    fill: $gray;

    &--top {
      left: -37px;
      top: 0;
    }

    &--bottom {
      right: -47px;
      bottom: 88px;
    }
  }

  &__img {
    border-radius: 50%;
  }

  &__text {
    display: block;
    text-align: left;
    width: 100%;
    font-style: italic;
    font-size: 20px;
    line-height: 1.5;
  }

  &__name {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: $orange-900;
    padding-top: 30px;
    margin-bottom: 15px;
  }

  &__words {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
  }
}

.slick {
  &-dots {
    display: flex;
    justify-content: center;
  }

  &-dots .slick-active button {
    background-color: $orange-900;
  }

  &-dots li:not(:last-child) {
    margin-right: 15px;
  }

  &-dots button {
    font-size: 0;
    padding: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $gray;
    transition: background-color 0.3s;

    &:hover {
      background-color: #FFF2ED;
      border: 1px solid $focus;
      border-radius: 50%;
      
    }

    &:active {
      background-color: #FFAE94;
      border: none;
      
    }

    &:focus {
      border: 1px solid $orange-900;
      border-radius: 50%;
    }
  }

  &-arrow {
    position: absolute;
    bottom: -10px;
    fill: $gray;
    stroke: $gray;
    transition: background-color 0.3s, fill 0.3s, stroke 0.3s;

    &:hover {
      fill: #FFAE94;
      stroke: #FFAE94;
      background-color: #FFF2ED;
      border-radius: 50%;
      outline-color: transparent;
    }

    &:active {
      fill: $orange-900;
      background-color: #FFF2ED;
      border-radius: 50%;
      stroke: none;
      outline-color: transparent;
    }

    &:focus {
      outline-color: $orange-900;
      border-radius: 50%;
    }
  }
}

.nextArrow.slick-arrow {
  left: 56%;
}

.prevArrow.slick-arrow {
  right: 56%;
}

.active {
  fill: $orange-900;
  stroke: $orange-900;
}

.app {
  
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__desc {
    max-width: 540px;
    text-align: left;
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    opacity: 0.9;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
  }

  &__item {

    &:not(:last-child) {
      margin-right: 30px;
    }
    
  }

}

.title__app {
  text-align: left;
  margin-bottom: 45px;
}

.footer {

  &__inner {
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 60px;
  }

  &__connect {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 200px;
    margin-right: 70px;
  }

  &__logo {
    display: inline-block;
    margin-bottom: 30px;
  }

  &__label {
    display: inline-block;
    text-align: left;
    margin-bottom: 12px;
    width: 100%;
  }

  &__input {
    font-size: 14px;
    line-height: 1.3;
    color: $darkBlue-900;
    opacity: 0.9;
    padding: 13px 15px;
    background-color: $white;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    width: 100%;
    outline-color: $focus;

    &::placeholder {
      font-size: 14px;
      line-height: 1.3;
      color: #C2C2C2;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.01);
      border-radius: 5px;
      border: 2px solid $focus;
    }
  }

  &__button {
    position: relative;
    padding: 10px 33px 11px 72px;
  }

  &__icon-btn {
    position: absolute;
    width: 15px;
    height: 15px;
    fill :$white;
    top: 50%;
    left: 40px;
    cursor: pointer;
    transform: translateY(-50%);
    &:hover {
      fill: $orange-900;
    }
  }

  &__list {
    column-count: 3;
    margin-right: 50px;
  }

  &__item {
    width: max-content;
    margin-bottom: 20px;
  }

  &__link {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: $dark;
    outline-color: $focus;
    transition: text-shadow 0.3s, color 0.3s;

    &:hover {
      color: $orange-900;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.01);
      border: 2px solid $focus;
      border-radius: 5px;
    }
    
    &:focus:hover {
      color: $dark;
    }
    &:active {
      color: $dark;
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
      border: 2px solid transparent;
    }
  }
}

.address {

  &__item {
    margin-bottom: 26px;
    text-align: left;
  }

  &__cont {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-style: normal;
    line-height: 1.3;
    color: $dark;
    fill:$silver-100;
    stroke: $dark;
    transition: text-shadow 0.3s, color 0.3s, stroke 0.3s, fill 0.3s;

    &:hover {
      color: $orange-900;
      fill:$orange-900;
      stroke: $silver-100;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.01);
      outline-color: $focus;
      border-radius: 5px;
    }
    
    &:focus:hover {
      color: $dark;
    }
    &:active {
      color: $dark;
      text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
    }
  }

  &__icon {
    display: block;
    margin-right: 7px;
  }
}

.social {
  display: flex;
  &__link {
    margin-right: 13px;
    border-radius: 50%;
    width: 100%;
    stroke: $dark;
    fill: $silver-200;
    transition: stroke 0.3s, fill 0.3s;

    &:hover {
      stroke: $dark;
      fill: $orange-900;
    }

    &:active {
      stroke: $orange-900;
      fill:#FFF2ED;
    }
    &:focus {
      outline-color: $focus;
    }
  }
}
.copywritte {
  padding: 23px 0;
  border-top: 1px solid #c2c2c234;
  font-size: 14px;
  line-height: 14px;
}



@import 'media';

