.popular {

  &__filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;

    @media (max-width: 992px) {
      max-width: 100%;
      overflow-x: scroll;
      display: flex;
      flex-wrap: nowrap;

      &::-webkit-scrollbar {
        opacity: 0;
      }
  
      &::-webkit-scrollbar-track {
        opacity: 0;
      }
  
      &::-webkit-scrollbar-thumb {
        opacity: 0;
      }
    }

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &__item {

    &:not(:last-child) {
    margin-right: 13px;
    }
    
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 10px 32px 13px;
    width: max-content;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #ECECEC;
    color: $darkBlue-900;
    font-size: 20px;
    outline-color: $focus;
    border: 2px solid transparent;
    transition: color 0.3s, background-color 0.3s ;

    &:active {
      background-color: $white;
      box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);
      fill: $darkBlue-900;
      border-color: transparent;
    }

    &:hover {
      background-color: rgba(255, 122, 80, 0.1);
      border: 2px solid $focus;
      border-radius: 5px;
      color: $orange-900;
      fill:$orange-900;
    }

    &:focus {
      border: 2px solid $focus;
    }

    &.mixitup-control-active {
      height: 100%;
      background-color: $orange-900;
      color: $white;
      fill: $white;
    }

    @media (max-width: 1200px)  {
      font-size: 18px;
      padding: 5px 20px 5px;
    }

    @media (max-width: 768px) {
      font-size: 14px;
      padding: 0px 12px 0px;
    }
  }

  &__svg {
    display: block;
    margin-right: 10px;

    @media (max-width: 1200px) {
      width: 35px;
    }

    @media (max-width: 992px) {
      width: 20px;
    }

    @media (max-width: 768px) {
      width: 20px;
    }
  }

  &__show-more {
    display: block;
    text-align: center;
    width: max-content;
    margin: 0 auto;
    max-width: 100%;
    font-size: 20px;
    color: $darkBlue-900;
    text-decoration: underline;
    border: 2px solid transparent;
    outline-color: $focus;
    @extend %dynamic;
  }

  &__btn.trans {
    display: none;
  }

  &__list {
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-gap: 30px;
    margin-bottom: 45px;

    @media (max-width: 1200px) {
      grid-template-columns:repeat(4, 1fr);
      grid-gap: 20px;
    }

    @media (max-width: 992px) {
      grid-template-columns:repeat(3, 1fr);
      grid-gap: 10px;
      margin-bottom: 30px;
    }

    @media (max-width: 768px) {
      grid-template-columns:repeat(2, 1fr);
      grid-gap: 5px;
    }
  }
}





