.address {

  &__item {
    margin-bottom: 26px;
  }

  &__cont {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-style: normal;
    line-height: 1.3;
    color: $dark;
    stroke: $dark;
    border: 2px solid transparent;
    @extend %dynamic;
  }

  &__icon {
    margin-right: 7px;
    fill: $white;
  }
}