.app {
  
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__desc {
    max-width: 540px;
    width: 100%;
  }

  &__text {
    font-size: 20px;
    color: #31352be6;
    margin-bottom: 30px;
  }
  
  &__link {
    display: inline-block;
    @extend %bg-img;
    border-radius: 5px;
    
    &--apple {
      width: 120px;
      height: 40px;
    }

    &--google {
      width: 135px;
      height: 40px;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

}