.delivery {

  &__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__desc {
    width: 100%;
    max-width: 470px;
    margin-top: 15px;
  }
  
  &__text {
    font-size: 20px;
    margin-bottom: 30px;
  }

  &__list {
    margin-bottom: 42px;
  }

  &__item {
    display: flex;
    align-items: center;
    font-size: 24px;
    
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  
  &__icon {
    margin-right: 30px;
  }

  &__button {
    display: inline-block;
    letter-spacing: 0.03em;
    border: 2px solid transparent;
  }
}