.filter {
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 15px 25px;
    background-color: $white;
    height: auto;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    @media (max-width: 768px) {
      border: 1px solid #ececec;
      border-radius: 5px;
      max-width: 273px;
      width: 100%;
    }
  }

  &__title {
    position: relative;
    margin: -7px 0 40px;

    @media (max-width: 768px) {
      margin-bottom: 36px;
    }

    &::after {
      content: "";
      position: absolute;
      border-top: 1px solid $silver-200;
      width: 100%;
      left: 0;
      bottom: -14px;
    }
  }

  &-btn {
    position: relative;
    z-index: 20;
    cursor: pointer;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }
}
