.filter-categories {
  height: 35%;

  &__item {
    &:not(:last-child) {
      margin-bottom: 11px;
    }

    @media (max-width: 768px) {
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &__menu {
    height: 83%;
  }

  &__link {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: $dark;
    outline-color: transparent;
    border: 2px solid transparent;
    @extend %dynamic;

    @media (max-width: 768px) {
      display: block;
    }
  }
}
