.logo {
  display: block;
  transition: opacity 0.3s;
  outline-color: $focus;

  &:focus {
    border: 2px solid $focus;
    border-radius: 5px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    border-color: transparent;
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    z-index: 10;
  }
}