.logo {
  display: block;
  transition: opacity 0.3s;
  outline-color: $focus;

  &:focus {
    border: 2px solid $focus;
    border-radius: 5px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    border-color: transparent;
    opacity: 0.5;
  }

  &.none {
    display: none;
  }

  @media (max-width: 768px) {
    z-index: 10;
    margin-right: 5%;
    margin-top: 1%;

    &.active {
      margin-top: 4%;
      margin-right: 0;
    }
  }

  @media (max-width: 576px) {
    margin-top: 1%;
    margin-right: 23%;
  }

  @media (max-width: 320px) {
    margin-top: 1%;
    margin-right: 0;
  }
}
