.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
    margin-left: auto;
    height: 100%;
  }

  &__item:last-of-type {
    padding-right: 50px;
  }

  &__item + &__item {
    margin-left: 40px;

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  &__link {
    font-size: 18px;
    color: $dark;
    outline-color: $focus;
    border: 2px solid transparent;
    @extend %dynamic;
  }

  &__link--active {
    color: $orange-900;
  }

  @media (max-width: 768px) {
    &__list.active {
      padding-top: 90px;
      position: absolute;
      display: block;
      top: 0;
      right: 75px;
      left: 0;
      bottom: 0;
      z-index: 2;
      transition: top 0.5s;

      @media (max-width: 768px) {
        content: "";
        position: absolute;
        left: 0;
        right: 75px;
        top: 0;
        bottom: 0;
        background-color: $white;
        z-index: 9;
      }
    }

    &__list {
      position: absolute;
      display: block;
      top: -1000%;
      right: 0;
      left: 0;
      bottom: 0;
      transition: top 0.5s;
    }

    &__item {
      padding: 0 10px;

      &:first-child {
        border-top: 1px solid #eeeff3;
      }
    }

    &__link {
      display: block;
      padding: 10px;
    }
  }
}
