.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  margin-right: 20px;

  @media (max-width: 768px) {
    padding-top: 0;
    margin-right: 0;
  }

  &__list {
    display: flex;
    padding: 0 6px;
  }

  &__item {
    padding: 0 3px;

    @media (max-width: 768px) {
      &:nth-child(even) {
        display: none;
      }
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1;
    padding: 12px 18px;
    background-color: #faeded;
    color: $darkBlue-900;
    &--active {
      border: 1px solid $darkBlue-900;
      border-radius: 3px;
    }
  }

  &__arrows {
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    background-color: #faeded;
    width: 11px;
    height: 20px;
    padding: 23px;
  }
}
