.prevarrow__btn.slick-arrow {
  right: 56%;
  width: 34px;
  height: 34px;
  margin-bottom: 6px;
  margin-right: 10px;

  @media (max-width: 992px) {
    right: 77%;
    top: 20%;
    padding: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  @media (max-width: 576px) {
    top: 7%;
  }
}

.prevArrow {
  @media (max-width: 992px) {
    margin-left: -6px;
  }
}
