
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots .slick-active button {
  background-color: $orange-900;
}

.slick-dots li:not(:last-child) {
  margin-right: 15px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $gray;
  transition: background-color 0.3s;

  &:hover {
    background-color: #FFF2ED;
    border: 1px solid $focus;
    border-radius: 50%;
  }

  &:active {
    background-color: #FFAE94;
    border: none;
  }
  
  &:focus {
    border: 1px solid $orange-900;
    border-radius: 50%;
  }
}

.slick-arrow {
  position: absolute;
  cursor: pointer;
  bottom: -15px;
  fill: $gray;
  stroke: $gray;
  transition: background-color 0.3s, fill 0.3s, stroke 0.3s;

  &:hover {
    fill: #FFAE94;
    stroke: #FFAE94;
    background-color: #FFF2ED;
    border-radius: 50%;
    outline-color: transparent;
  }

  &:active {
    fill: $orange-900;
    background-color: #FFF2ED;
    border-radius: 50%;
    stroke: none;
    outline-color: transparent;
  }

  &:focus {
    outline-color: $orange-900;
    border-radius: 50%;
  }

  @media (max-width: 992px) {
    bottom: auto;
    margin-top: 7px;
  }
}


.nextarrow__btn.slick-arrow {
  left: 56%;
  width: 34px;
  height: 34px;
  margin-bottom: 6px;
  margin-left: 10px;

  @media (max-width: 992px) {
    left: 77%;
    top: 20%;
    padding: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  @media (max-width: 576px) {
    top: 7%;
  }
}

.prevarrow__btn.slick-arrow {
  right: 56%;
  width: 34px;
  height: 34px;
  margin-bottom: 6px;
  margin-right: 10px;
  
  @media (max-width: 992px) {
    right: 77%;
    top: 20%;
    padding: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .nextArrow,
  .prevArrow {
    @media (max-width: 992px) {
      margin-left: -6px;
    }
  }

  @media (max-width: 576px) {
    top: 7%;
  }
}

.active {
  fill: $orange-900;
  stroke: $orange-900;
}