.social {
  display: flex;

  &__link {
    position: relative;
    display: block;
    margin-right: 13px;
    width: 39px;
    height: 39px;
    fill: $dark;
    stroke: $dark;
    background-color: $gray;
    font-size: 39px;
    letter-spacing: 39px;
    border-radius: 50%;
    outline-color: $focus;
    border: 2px solid transparent;
    transition: stroke 0.3s, fill 0.3s;

    &:hover {
      stroke: $white;
      fill: $white;
      background-color: $orange-900;
    }

    &:focus {
      border: 2px solid $orange-900;
      border-radius: 50%;
    }

    &:active {
      stroke: $orange-900;
      fill:$orange-900;
      border: 2px solid transparent;
      background-color: #FFF2ED;
    }
  }

  &__icon {
    position: absolute;
    left: 8px;
    top: 8px;
  }
}