.title {
  font-size: 37px;
  line-height: 1.3;
  font-weight: 600;
  text-align: left;
  margin-bottom: 60px;

  &--popular,
  &--restaurant,
  &--reviews {
    text-align: center;
  }
  
  &--delivery {
    margin-bottom: 30px;
  }
}
