<section class="reviews section">
  <div class="container">
    <h2 class="title reviews__title">
      Отзывы клиентов
    </h2>
    <div class="reviews__inner">

      <div class="reviews__box">
        <div class="reviews__item">
          <img class="reviews__img" src="images/img-jpg/reviews-img.jpg" width="300" height="300"
            alt="фото довольного клиента">
          <div class="reviews__card">
            <svg class="reviews__icon reviews__icon--top" width="24" height="20">
              <use xlink:href="images/images.svg#dog-up-l"></use>
            </svg>
            <blockquote class="reviews__text">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
              Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны.
              Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
              <cite class="reviews__name">
                Дарья
                <span class="reviews__words">Ценитель вкусной еды</span>
              </cite>
            </blockquote>
            <svg class="reviews__icon reviews__icon--bottom" width="24" height="20">
              <use xlink:href="images/images.svg#dog-up-r"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="reviews__box">
        <div class="reviews__item">
          <img class="reviews__img" src="images/img-jpg/reviews-img.jpg" width="300" height="300"
            alt="фото довольного клиента">
          <div class="reviews__card">
            <svg class="reviews__icon reviews__icon--top" width="24" height="20">
              <use xlink:href="images/images.svg#dog-up-l"></use>
            </svg>
            <blockquote class="reviews__text">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
              Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны.
              Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
              <cite class="reviews__name">
                Дарья
                <span class="reviews__words">Ценитель вкусной еды</span>
              </cite>
            </blockquote>
            <svg class="reviews__icon reviews__icon--bottom" width="24" height="20">
              <use xlink:href="images/images.svg#dog-up-r"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="reviews__box">
        <div class="reviews__item">
          <img class="reviews__img" src="images/img-jpg/reviews-img.jpg" width="300" height="300"
            alt="фото довольного клиента">
          <div class="reviews__card">
            <svg class="reviews__icon reviews__icon--top" width="24" height="20">
              <use xlink:href="images/images.svg#dog-up-l"></use>
            </svg>
            <blockquote class="reviews__text">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
              Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны.
              Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
              <cite class="reviews__name">
                Дарья
                <span class="reviews__words">Ценитель вкусной еды</span>
              </cite>
            </blockquote>
            <svg class="reviews__icon reviews__icon--bottom" width="24" height="20">
              <use xlink:href="images/images.svg#dog-up-r"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="reviews__box">
        <div class="reviews__item">
          <img class="reviews__img" src="images/img-jpg/reviews-img.jpg" width="300" height="300"
            alt="фото довольного клиента">
          <div class="reviews__card">
            <svg class="reviews__icon reviews__icon--top" width="24" height="20">
              <use xlink:href="images/images.svg#dog-up-l"></use>
            </svg>
            <blockquote class="reviews__text">
              SimpleFood - одна из лучших служб доставки продуктов из ресторанов в городе.
              Очень удобный сайт и приложение. Их доставщики очень вежливы и пунктуальны.
              Компания часто проводит акции и дарит скидки на доставку - однозначно рекомендую!
              <cite class="reviews__name">
                Дарья
                <span class="reviews__words">Ценитель вкусной еды</span>
              </cite>
            </blockquote>
            <svg class="reviews__icon reviews__icon--bottom" width="24" height="20">
              <use xlink:href="images/images.svg#dog-up-r"></use>
            </svg>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>