<section class="app section">
  <div class="container">
    <div class="app__inner app__inner--catalog">
      <div class="app__desc">
        <h2 class="title app__title app__title--catalog">
          Скачайте мобильное приложение
        </h2>
        <p class="app__text">
          Рестораны, которые вы любите - в ваших руках.
          Устанавливайте приложение и заказывайте еду в любом удобном месте.
        </p>
        <div class="app__shop">
          <a class="app__link app__link--apple" href="https://www.apple.com/ua/app-store/"
            style="background-image: url('images/img-jpg/app-store.jpg');">
            <span class="sr-only">силка на app store</span>
          </a>
          <a class="app__link app__link--google" href="https://play.google.com/"
            style="background-image: url('images/img-jpg/google-play.jpg');">
            <span class="sr-only">силка на google play</span>
          </a>
        </div>
      </div>
      <img class="app__img" src="images/img-jpg/app-img.jpg" width="570" height="380"
        alt="фото нашего мобильного приложения на экране мобильного телефона">
    </div>
  </div>
</section>