<section class="delivery section">
  <div class="container">
    <div class="delivery__inner">
      <img class="delivery__img" src="images/img-jpg/delivery.jpg" width="440" height="585" alt="картинка с курьером">
      <div class="delivery__desc">
        <h2 class="title delivery__title">
          Оставайтесь дома,
          а мы позаботимся о еде
        </h2>
        <p class="delivery__text">
          У нас есть вкусная еда и мы готовы доставить её к вам домой!
          Воспользуйтесь нашей доставкой прямо сейчас и получите скидку!
        </p>
        <ul class="delivery__list">
          <li class="delivery__item">
            <svg class="delivery__icon">
              <use xlink:href="images/images.svg#timer"></use>
            </svg>
            Быстрая доставка за 15 минут
          </li>
          <li class="delivery__item">
            <svg class="delivery__icon">
              <use xlink:href="images/images.svg#delivery"></use>
            </svg>
            Вежливые курьеры
          </li>
          <li class="delivery__item">
            <svg class="delivery__icon">
              <use xlink:href="images/images.svg#resturent"></use>
            </svg>
            Более 500 заведений
          </li>
        </ul>
        <a class="delivery__button button" href="#">Подробнее</a>
      </div>
    </div>
  </div>
</section>