<section class="popular section">
  <div class="container">
    <h2 class="title popular__title">Популярные категории</h2>
    <ul class="popular__filter">
      <li class="popular__item">
        <button class="popular__btn mixitup-control-active" type="button" data-filter="all">
          <svg class="popular__svg" width="44" height="39">
            <use xlink:href="images/images.svg#burger"></use>
          </svg>
          Бургеры
        </button>
      </li>
      <li class="popular__item">
        <button class="popular__btn" type="button" data-filter=".category-a">
          <svg class="popular__svg" width="45" height="44">
            <use xlink:href="images/images.svg#pizza"></use>
          </svg>
          Пицца
        </button>
      </li>
      <li class="popular__item">
        <button class="popular__btn" type="button" data-filter=".category-b">
          <svg class="popular__svg" width="44" height="44">
            <use xlink:href="images/images.svg#sandwich"></use>
          </svg>
          Сендвичи
        </button>
      </li>
      <li class="popular__item">
        <button class="popular__btn" type="button" data-filter=".category-c">
          <svg class="popular__svg" width="44" height="44">
            <use xlink:href="images/images.svg#asia"></use>
          </svg>
          Азиатская кухня
        </button>
      </li>
      <li class="popular__item">
        <button class="popular__btn" type="button" data-filter=".category-d">
          <svg class="popular__svg" width="44" height="44">
            <use xlink:href="images/images.svg#dish"></use>
          </svg>
          Cеты
        </button>
      </li>
    </ul>
    <ul class="popular__list">

      <li class="popular__box mix category-a">
        <article class="product-card">
          <img class="product-card__img" src="images/img-jpg/1.jpg" width="140" height="140" alt="Чизбургер с листьями">
          <h3 class="product-card__name">
            Чизбургер с листьями салата
          </h3>
          <span class="product-card__price">
            160 <span class="product-card__currency">руб.</span>
          </span>
          <button class="product-card__button button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="popular__box mix category-a">
        <article class="product-card">
          <img class="product-card__img" src="images/img-jpg/2.jpg" width="140" height="140" alt="Бифбургер">
          <h3 class="product-card__name">
            Бифбургер
          </h3>
          <span class="product-card__price">
            190 <span class="product-card__currency">руб.</span>
          </span>
          <button class="product-card__button button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="popular__box mix category-a">
        <article class="product-card">
          <img class="product-card__img" src="images/img-jpg/3.jpg" width="140" height="140"
            alt="Королевский чизбургер">
          <h3 class="product-card__name">
            Королевский чизбургер
          </h3>
          <span class="product-card__price">
            260 <span class="product-card__currency">руб.</span>
          </span>
          <button class="product-card__button button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="popular__box mix category-b">
        <article class="product-card">
          <img class="product-card__img" src="images/img-jpg/4.jpg" width="140" height="140" alt="Черный гамбургер">
          <h3 class="product-card__name">
            Черный гамбургер
          </h3>
          <span class="product-card__price">
            199 <span class="product-card__currency">руб.</span>
          </span>
          <button class="product-card__button button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="popular__box mix category-b">
        <article class="product-card">
          <img class="product-card__img" src="images/img-jpg/5.jpg" width="140" height="140" alt="Чикен бургер">
          <h3 class="product-card__name">
            Чикен бургер
          </h3>
          <span class="product-card__price">
            180 <span class="product-card__currency">руб.</span>
          </span>
          <button class="product-card__button button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="popular__box mix category-b">
        <article class="product-card">
          <img class="product-card__img" src="images/img-jpg/1.jpg" width="140" height="140" alt="Чизбургер с листьями">
          <h3 class="product-card__name">
            Чизбургер с листьями салата
          </h3>
          <span class="product-card__price">
            160 <span class="product-card__currency">руб.</span>
          </span>
          <button class="product-card__button button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="popular__box mix category-c">
        <article class="product-card">
          <img class="product-card__img" src="images/img-jpg/2.jpg" width="140" height="140" alt="Бифбургер">
          <h3 class="product-card__name">
            Бифбургер
          </h3>
          <span class="product-card__price">
            190 <span class="product-card__currency">руб.</span>
          </span>
          <button class="product-card__button button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="popular__box mix category-c">
        <article class="product-card">
          <img class="product-card__img" src="images/img-jpg/3.jpg" width="140" height="140"
            alt="Королевский чизбургер">
          <h3 class="product-card__name">
            Королевский чизбургер
          </h3>
          <span class="product-card__price">
            260 <span class="product-card__currency">руб.</span>
          </span>
          <button class="product-card__button button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="popular__box mix category-d">
        <article class="product-card">
          <img class="product-card__img" src="images/img-jpg/4.jpg" width="140" height="140" alt="Черный гамбургер">
          <h3 class="product-card__name">
            Черный гамбургер
          </h3>
          <span class="product-card__price">
            199 <span class="product-card__currency">руб.</span>
          </span>
          <button class="product-card__button button" type="button">
            В корзину
          </button>
        </article>
      </li>
      <li class="popular__box mix category-d">
        <article class="product-card">
          <img class="product-card__img" src="images/img-jpg/5.jpg" width="140" height="140" alt="Чикен бургер">
          <h3 class="product-card__name">
            Чикен бургер
          </h3>
          <span class="product-card__price">
            180 <span class="product-card__currency">руб.</span>
          </span>
          <button class="product-card__button button" type="button">
            В корзину
          </button>
        </article>
      </li>
    </ul>
    <a class="popular__show-more" href="#">
      Показать еще
    </a>
  </div>
</section>