<div class="prospectus">
  <div class="container">
    <div class="prospectus__inner">
      <h1 class="prospectus__title">Каталог продуктов</h1>
      <form class="prospectus__select" action="#">
        <select class="prospectus__name select__style">
          <option value="">По названию</option>
          <option value="">Главная</option>
          <option value="">Каталог товаров</option>
          <!-- <svg class="prospectus__arrow prospectus__arrow--name" width="11" height="6">
            <use xlink:href="images/images.svg#prospectus-arrow"></use>
          </svg> -->
        </select>
        <select class="prospectus__num select__style">
          <option value="">по 12</option>
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
          <option value="">5</option>
          <option value="">6</option>
          <option value="">7</option>
          <option value="">8</option>
          <option value="">9</option>
          <option value="">10</option>
          <option value="">11</option>
          <option value="">12</option>
          <!-- <svg class="prospectus__arrow prospectus__arrow--num" width="11" height="6">
            <use xlink:href="images/images.svg#prospectus-arrow"></use>
          </svg> -->
        </select>
      </form>
    </div>
  </div>
</div>