<section class="restaurant section">
  <div class="container">
    <h2 class="title restaurant--title">
      Акции и скидки
    </h2>
    <ul class="restaurant__list restaurant__list--catalog">
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/img-jpg/1res.jpg" width="370" height="300"
            alt="ресторанные блюда Blaze Pizza">
          <h3 class="restaurant-card__name">Скидка 50% на вторую пиццу</h3>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/img-jpg/5res.jpg" width="370" height="300"
            alt="ресторанные блюда KFC">
          <h3 class="restaurant-card__name">Картошечка из KFC даром при заказе бургера</h3>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/img-jpg/6res.jpg" width="370" height="300"
            alt="ресторанные блюда Star Burgers">
          <h3 class="restaurant-card__name">Чёрные бургеры на чёрный день </h3>
        </article>
      </li>
    </ul>
  </div>
</section>