<section class="restaurant section">
  <div class="container">
    <h2 class="title restaurant__title">
      Лучшие рестораны
    </h2>
    <ul class="restaurant__list">
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/img-jpg/1res.jpg" width="370" height="300"
            alt="ресторанные блюда Blaze Pizza">
          <h3 class="restaurant-card__name">Blaze Pizza</h3>
          <div class="restaurant-card__time">
            <svg class="restaurant-card__icon" width="22" height="22">
              <use xlink:href="images/images.svg#hours"></use>
            </svg>
            <time class="restaurant-card__hours">11:00 - 22:00</time>
            <a class="restaurant-card__button button" href="#">
              <svg class="restaurant-card__arrow" width="14" height="12">
                <use xlink:href="images/images.svg#arrow-right"></use>
              </svg>
              <span class="sr-only">перейти в ресторан</span>
            </a>
          </div>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/img-jpg/2res.jpg" width="370" height="300"
            alt="ресторанные блюда Pizza Runcho">
          <h3 class="restaurant-card__name">Pizza Runcho</h3>
          <div class="restaurant-card__time">
            <svg class="restaurant-card__icon" width="22" height="22">
              <use xlink:href="images/images.svg#hours"></use>
            </svg>
            <time class="restaurant-card__hours">12:00 - 21:00</time>
            <a class="restaurant-card__button button" href="#">
              <svg class="restaurant-card__arrow" width="14" height="12">
                <use xlink:href="images/images.svg#arrow-right"></use>
              </svg>
              <span class="sr-only">перейти в ресторан</span>
            </a>
          </div>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/img-jpg/3res.jpg" width="370" height="300"
            alt="ресторанные блюда Pizza Hut">
          <h3 class="restaurant-card__name">Pizza Hut</h3>
          <div class="restaurant-card__time">
            <svg class="restaurant-card__icon" width="22" height="22">
              <use xlink:href="images/images.svg#hours"></use>
            </svg>
            <time class="restaurant-card__hours">11:00 - 22:00</time>
            <a class="restaurant-card__button button" href="#">
              <svg class="restaurant-card__arrow" width="14" height="12">
                <use xlink:href="images/images.svg#arrow-right"></use>
              </svg>
              <span class="sr-only">перейти в ресторан</span>
            </a>
          </div>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/img-jpg/4res.jpg" width="370" height="300"
            alt="ресторанные блюда McDonald`s">
          <h3 class="restaurant-card__name">McDonald`s</h3>
          <div class="restaurant-card__time">
            <svg class="restaurant-card__icon" width="22" height="22">
              <use xlink:href="images/images.svg#hours"></use>
            </svg>
            <time class="restaurant-card__hours">06:00 - 23:00</time>
            <a class="restaurant-card__button button" href="#">
              <svg class="restaurant-card__arrow" width="14" height="12">
                <use xlink:href="images/images.svg#arrow-right"></use>
              </svg>
              <span class="sr-only">перейти в ресторан</span>
            </a>
          </div>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/img-jpg/5res.jpg" width="370" height="300"
            alt="ресторанные блюда KFC">
          <h3 class="restaurant-card__name">KFC</h3>
          <div class="restaurant-card__time">
            <svg class="restaurant-card__icon" width="22" height="22">
              <use xlink:href="images/images.svg#hours"></use>
            </svg>
            <time class="restaurant-card__hours">06:00 - 23:30</time>
            <a class="restaurant-card__button button" href="#">
              <svg class="restaurant-card__arrow" width="14" height="12">
                <use xlink:href="images/images.svg#arrow-right"></use>
              </svg>
              <span class="sr-only">перейти в ресторан</span>
            </a>
          </div>
        </article>
      </li>
      <li class="restaurant__item">
        <article class="restaurant-card">
          <img class="restaurant-card__image" src="images/img-jpg/6res.jpg" width="370" height="300"
            alt="ресторанные блюда Star Burgers">
          <h3 class="restaurant-card__name">Star Burgers</h3>
          <div class="restaurant-card__time">
            <svg class="restaurant-card__icon" width="22" height="22">
              <use xlink:href="images/images.svg#hours"></use>
            </svg>
            <time class="restaurant-card__hours">09:00 - 21:00</time>
            <a class="restaurant-card__button button" href="#">
              <svg class="restaurant-card__arrow" width="14" height="12">
                <use xlink:href="images/images.svg#arrow-right"></use>
              </svg>
              <span class="sr-only">перейти в ресторан</span>
            </a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>