<section class="shop section">
  <div class="container">
    <div class="shop__inner">
      <div class="shop__filter filter">

        <div class="filter__box filter-categories">
          <h2 class="filter__title">Категории</h2>
          <ul class="filter-categories__menu">
            <li class="filter-categories__item">
              <a class="filter-categories__link" href="#">Бургеры</a>
            </li>
            <li class="filter-categories__item">
              <a class="filter-categories__link" href="#">Пицца</a>
            </li>
            <li class="filter-categories__item">
              <a class="filter-categories__link" href="#">Сендвичи</a>
            </li>
            <li class="filter-categories__item">
              <a class="filter-categories__link" href="#">Азиатская кухня</a>
            </li>
            <li class="filter-categories__item">
              <a class="filter-categories__link" href="#">Сеты</a>
            </li>
            <li class="filter-categories__item">
              <a class="filter-categories__link" href="#">Европейская кухня</a>
            </li>
            <li class="filter-categories__item">
              <a class="filter-categories__link" href="#">Напитки</a>
            </li>
            <li class="filter-categories__item">
              <a class="filter-categories__link" href="#">Алкоголь</a>
            </li>
          </ul>
        </div>

        <div class="filter__box filter-offers">
          <h2 class="filter__title">Предложения</h2>
          <form class="filter-offers__form" action="#">
            <label class="filter-offers__label">
              <span class="sr-only">Выберите предложения</span>
              <input class="filter-offers__input" type="checkbox" name="offersNew">
              <span class="filter-offers__checkbox"></span>
              <span class="filter-offers__text">Со скидкой</span>
            </label>
            <label class="filter-offers__label">
              <span class="sr-only">Выберите предложения</span>
              <input class="filter-offers__input" type="checkbox" name="offersNew">
              <span class="filter-offers__checkbox"></span>
              <span class="filter-offers__text">Новинка</span>
            </label>
            <label class="filter-offers__label">
              <span class="sr-only">Выберите предложения</span>
              <input class="filter-offers__input" type="checkbox" name="offersNew">
              <span class="filter-offers__checkbox"></span>
              <span class="filter-offers__text">Хит</span>
            </label>
          </form>
        </div>

        <div class="filter__box filter-price">
          <h2 class="filter__title">Цена</h2>
          <form class="filter-price__form" action="#">
            <div class="filter-price__many">
              <label class="filter-price__label">
                от
                <input class="filter-price__from" type="text" name="minPrice" placeholder="100" required>
                ₽
              </label>
              <label class="filter-price__label">
                до
                <input class="filter-price__to" type="text" name="maxPrice" placeholder="1000" required>
                ₽
              </label>
            </div>
            <label class="filter-price__label">
              <span class="sr-only">Подобрать цену</span>
              <input class="filter-price__input" type="text" name="yourPrice" required data-min="100" data-max="1000"
                data-from="150" data-to="900">
            </label>
          </form>
        </div>
      </div>
      <!-- без popular__list не працював слайдер на сторінці калалог.html і в консолі були помилки -->
      <ul class="popular__list sr-only"></ul>
      <div class="shop__dish">
        <ul class="shop__list">
          <li class="shop__item">
            <article class="product-card">
              <img class="product-card__img" src="../../images/img-jpg/1.jpg" width="140" height="140"
                alt="Чизбургер с листьями">
              <h2 class="product-card__name">
                Чизбургер с листьями салата
              </h2>
              <span class="product-card__price">
                160 <span class="product-card__currency">руб.</span>
              </span>
              <button class="product-card__button button" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="shop__item">
            <article class="product-card">
              <img class="product-card__img" src="../../images/img-jpg/2.jpg" width="140" height="140" alt="Бифбургер">
              <h2 class="product-card__name">
                Бифбургер
              </h2>
              <span class="product-card__price">
                190 <span class="product-card__currency">руб.</span>
              </span>
              <button class="product-card__button button" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="shop__item">
            <article class="product-card">
              <img class="product-card__img" src="../../images/img-jpg/3.jpg" width="140" height="140"
                alt="Королевский чизбургер">
              <h2 class="product-card__name">
                Королевский чизбургер
              </h2>
              <span class="product-card__price">
                260 <span class="product-card__currency">руб.</span>
              </span>
              <button class="product-card__button button" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="shop__item">
            <article class="product-card">
              <img class="product-card__img" src="../../images/img-jpg/4.jpg" width="140" height="140"
                alt="Черный гамбургер">
              <h2 class="product-card__name">
                Черный гамбургер
              </h2>
              <span class="product-card__price">
                199 <span class="product-card__currency">руб.</span>
              </span>
              <button class="product-card__button button" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="shop__item">
            <article class="product-card">
              <img class="product-card__img" src="../../images/img-jpg/1.jpg" width="140" height="140"
                alt="Чизбургер с листьями">
              <h2 class="product-card__name">
                Чизбургер с листьями салата
              </h2>
              <span class="product-card__price">
                160 <span class="product-card__currency">руб.</span>
              </span>
              <button class="product-card__button button" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="shop__item">
            <article class="product-card">
              <img class="product-card__img" src="../../images/img-jpg/2.jpg" width="140" height="140" alt="Бифбургер">
              <h2 class="product-card__name">
                Бифбургер
              </h2>
              <span class="product-card__price">
                190 <span class="product-card__currency">руб.</span>
              </span>
              <button class="product-card__button button" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="shop__item">
            <article class="product-card product-card--invisible">
              <img class="product-card__img" src="../../images/img-jpg/3.jpg" width="140" height="140"
                alt="Королевский чизбургер">
              <h2 class="product-card__name">
                Королевский чизбургер
              </h2>
              <span class="product-card__price">
                260 <span class="product-card__currency">руб.</span>
              </span>
              <button class="product-card__button button" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="shop__item">
            <article class="product-card product-card--invisible">
              <img class="product-card__img" src="../../images/img-jpg/4.jpg" width="140" height="140"
                alt="Черный гамбургер">
              <h2 class="product-card__name">
                Черный гамбургер
              </h2>
              <span class="product-card__price">
                199 <span class="product-card__currency">руб.</span>
              </span>
              <button class="product-card__button button" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="shop__item">
            <article class="product-card product-card--invisible">
              <img class="product-card__img" src="../../images/img-jpg/1.jpg" width="140" height="140"
                alt="Чизбургер с листьями">
              <h2 class="product-card__name">
                Чизбургер с листьями салата
              </h2>
              <span class="product-card__price">
                160 <span class="product-card__currency">руб.</span>
              </span>
              <button class="product-card__button button" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="shop__item">
            <article class="product-card product-card--invisible">
              <img class="product-card__img" src="../../images/img-jpg/2.jpg" width="140" height="140" alt="Бифбургер">
              <h2 class="product-card__name">
                Бифбургер
              </h2>
              <span class="product-card__price">
                190 <span class="product-card__currency">руб.</span>
              </span>
              <button class="product-card__button button" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="shop__item">
            <article class="product-card product-card--invisible">
              <img class="product-card__img" src="../../images/img-jpg/3.jpg" width="140" height="140"
                alt="Королевский чизбургер">
              <h2 class="product-card__name">
                Королевский чизбургер
              </h2>
              <span class="product-card__price">
                260 <span class="product-card__currency">руб.</span>
              </span>
              <button class="product-card__button button" type="button">
                В корзину
              </button>
            </article>
          </li>
          <li class="shop__item">
            <article class="product-card product-card--invisible">
              <img class="product-card__img" src="../../images/img-jpg/4.jpg" width="140" height="140"
                alt="Черный гамбургер">
              <h2 class="product-card__name">
                Черный гамбургер
              </h2>
              <span class="product-card__price">
                199 <span class="product-card__currency">руб.</span>
              </span>
              <button class="product-card__button button" type="button">
                В корзину
              </button>
            </article>
          </li>
        </ul>
        <div class="pagination">
          <a class="pagination__prev pagination__arrows" href="#"
            style="background-image: url('../images/icons/pagination-left.svg');">
            <span class="sr-only">стрелки для пролистывания страниц назад</span>
          </a>
          <ul class="pagination__list">
            <li class="pagination__item">
              <span class="pagination__link pagination__link--active">1</span>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">2</a>
            </li>
            <li class="pagination__item">
              <span class="pagination__link" href="#">...</span>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">9</a>
            </li>
            <li class="pagination__item">
              <a class="pagination__link" href="#">10</a>
            </li>
          </ul>
          <a class="pagination__next pagination__arrows" href="#"
            style="background-image: url('../images/icons/pagination-right.svg');">
            <span class="sr-only">стрелки для пролистывания страниц вперед</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>